/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */

body {   
    font-family: "Urbanist", sans-serif;
}

.bg-custom-bg{
    background: rgb(21, 20, 21);
    background: linear-gradient(51deg, rgba(21, 20, 21, 1) 0%, rgba(130, 14, 34, 1) 100%, rgba(130, 14, 34, 1) 74%, rgba(19, 19, 19, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-btn {
    background: #fff !important;
    padding: 5px 20px;
    color: #7B22A7 !important;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    font-weight: 600;
}

.custom-btn {
    background: #7B22A7 !important;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.wallet-btn {
    background: #fff !important;
    color: #7B22A7 !important;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #7B22A7 !important;
    font-weight: 600;
}

.nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    /* background: #00000026; */
    position: absolute;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.modal-content p {
    text-align: center;
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 50px;
    width: fit-content;
    margin: auto;
}

legend {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.hero-section {
    background-image: url(../src/assets/images/main.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.hero-section h1 {
    color: white;
    background: #00000050;
    font-size: 45px;
    padding: 100px;
    font-weight: 700;
}

.bg-custom {
    background: #7B22A7;
}

.heading h2{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}

.swiper-prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
    background-color: #000;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}
.swiper-next{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
    background-color: #000;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}
.swiper-pagination{
    display: none;
}
.event-card h4{
    font-size: 25px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 500
}
.mode{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;
}
.event-link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.location{
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
}
.sub-title{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}
.date, .time, .type{
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
}
.swiper-slide {
    height: auto !important;
}
.bg-card{
    background: #99999929;
    border-radius: 15px;
}
/* footer css */

.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    color: #fff;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #c3c3c3;
}

.contact-content h6 {
    color: #cccccc;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* event slider css */


/* event details page css */
.event-detail {
    border-radius: 6px;
    border: 1px solid#E5E7EB;
    padding: 22px;
}

.event-detail h1 {
    color: #000;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.event-detail-content img {
    width: 24px;
    height: 24px;
}

.event-detail small {
    color: #4B5563;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.event-detail h4,
.event-card h4 {
    color: #000;
    
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.event-detail h4 span,
.event-card h4 span {
    color: #708090;
    font-size: 11px;
}

.other-details h6 {
    color: rgba(114, 54, 0, 0.80);
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.other-details h5 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.other-details h3 {
    color: #4B5563;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.other-details p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.social-icon {
    border-radius: 8px;
    background: #F1F0FA;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon svg {
    fill: #000
}

.social-icon:hover svg {
    fill: #4b4b4b;
}
